<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MIS PROYECTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
     <ion-accordion value="My Develop proyects">
    <ion-item slot="header" color="light">
      <ion-label>
        CRUD EN PHP
      </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Desarrollos un CRUD(create, read, update delate)
      en PHP con las bases de datos MySql/MariaDB para un sistema de internet
    </div>
  </ion-accordion>

     <ion-accordion value="My Develop proyects">
    <ion-item slot="header" color="light">
      <ion-label>
        My Mobile Proyects 
      </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Desarrollamos proyectos moviles con uso de sensores
      text to speach, asi como juegos para platafrmas IOS
    </div>
  </ion-accordion>
   <ion-accordion value="My Develop proyects">
    <ion-item slot="header" color="light">
      <ion-label>
        juegos  
      </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">desarrollo de una aplicacion.
    </div>
    
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
